html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:bold
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    box-sizing:content-box;
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type="button"],input[type="reset"]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type="checkbox"],input[type="radio"]{
    box-sizing:border-box;
    padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]{
    -webkit-appearance:textfield
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:bold
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}





h1 {
  margin-top: 20px;
  margin-bottom: 1px;
  font-family: Merriweather, serif;
  color: #222;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 1px;
  font-family: Merriweather, serif;
  color: #222;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin-top: 6px;
  margin-bottom: 24px;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 11px;
  line-height: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #9ca3ad;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  color: #9ca3ad;
  line-height: 24px;
  font-weight: 300;
}

a {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Merriweather, serif;
  color: #b69853;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #333;
  font-weight: 300;
  text-decoration: none;
}

.bottom-section {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 50px;
}

.lockup {
  position: static;
  left: 30px;
  top: 30px;
  width: auto;
  max-width: 193px;
  padding: 0px;
  -webkit-transition: margin 200ms ease, opacity 200ms ease;
  transition: margin 200ms ease, opacity 200ms ease;
}

.line {
  position: static;
  width: 30px;
  height: 3px;
  margin-bottom: 40px;
  background-color: #b69853;
}

.line.raise {
  background-color: #4ed1aa;
}

.line.viagogo {
  background-color: #9fc544;
}

.line.moto {
  background-color: #0063be;
}

.line.rocket {
  background-color: #c25514;
}

.line.master {
  background-color: #1fb8e7;
}

.line.salesforce {
  background-color: #009ddc;
}

.bottom-right-lockup-resume {
  position: static;
  right: 30px;
  bottom: 30px;
  margin: 26px 0px 18px;
  padding-right: 20px;
  float: right;
  text-align: right;
}

.bottom-right-lockup-resume.resume {
  margin: 26px 0px 20px;
}

.social-img {
  margin-right: 9px;
  margin-bottom: 8px;
  margin-left: 9px;
  padding-right: 0px;
  padding-left: 0px;
}

.social-img.xtra {
  margin-right: 18px;
  margin-bottom: 6px;
  margin-left: 6px;
}

.social-img.ender {
  margin-bottom: 6px;
  margin-left: 0px;
}

.social-img.medium {
  margin-bottom: 6px;
}

.mask {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 2147483648;
  width: 300px;
  height: 35px;
  background-color: #fff;
}

.resume-column {
  position: static;
  padding: 30px 15px;
}

.company-sections {
  max-width: 647px;
  margin-top: 24px;
  margin-bottom: 66px;
}

.h4-resume {
  margin-bottom: 24px;
  line-height: 18px;
}

.action-bar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999999;
  border-top: 1px solid rgba(0, 0, 0, .08);
  background-color: #fff;
  box-shadow: 0 -7px 24px 0 hsla(0, 0%, 100%, .74);
}

.section-headers {
  font-family: Oswald, sans-serif;
  color: #b69853;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-headers.ontiles {
  padding-top: 15px;
  padding-bottom: 8px;
  float: none;
  clear: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: none;
}

.bottom-resume {
  height: 100px;
}

.bottom-right-home {
  position: fixed;
  right: 30px;
  bottom: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.lock-up-home {
  width: auto;
  max-width: 346px;
  padding-right: 0px;
}

.xtraspace {
  display: inline-block;
  margin-top: 7px;
}

.spacer {
  position: static;
  height: 30vh;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.side-bar {
  position: fixed;
  bottom: 0px;
  display: block;
  width: 33.333%;
  max-width: none;
  padding: 60px 4% 6%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.side-bar.raise {
  height: 100vh;
  background-image: -webkit-linear-gradient(270deg, #3c454e, #3c454e);
  background-image: linear-gradient(180deg, #3c454e, #3c454e);
}

.side-bar.viagogo {
  height: 100vh;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56ba5ebb2cc69d4e6918e82a/58bf8333c00cbdea76f9bfd8_tile_background_viagogo.png");
  background-position: 0px 0px;
  background-size: cover;
}

.side-bar.moto {
  height: 100vh;
  background-image: -webkit-linear-gradient(270deg, #434a54, #434a54);
  background-image: linear-gradient(180deg, #434a54, #434a54);
}

.side-bar.rocket {
  height: 100vh;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56ba5ebb2cc69d4e6918e82a/58bf80e3f9c65cab76fb8a17_tile_background_rocket.png");
  background-position: 0px 0px;
  background-size: 1036px;
}

.side-bar.master {
  height: 100vh;
  background-image: -webkit-linear-gradient(270deg, #2c2d2f, #2c2d2f);
  background-image: linear-gradient(180deg, #2c2d2f, #2c2d2f);
}

.side-bar.salesforce {
  height: 100vh;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56ba5ebb2cc69d4e6918e82a/58c5a6ff57a2703f67307194_detail_background_sales.png");
  background-position: 0px 0px;
  background-size: cover;
}

.main-content {
  overflow: scroll;
  padding: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.spaced-headers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.cover-text-block {
  padding: 30px 10px 100px 20px;
}

.small-space {
  height: 20px;
}

.bottom-of-flex {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: auto;
  padding: 70px;
  border-top: 1px none #000;
  background-image: -webkit-linear-gradient(270deg, #333, #333);
  background-image: linear-gradient(180deg, #333, #333);
  text-align: center;
}

.edges {
  overflow: scroll;
}

.main-content-padding {
  overflow: auto;
  padding: 70px;
}

.cover-columns {
  padding: 0px;
}

.white-h4 {
  color: #fff;
}

.button {
  padding: 10px 20px;
  border: 2px solid #b69853;
  -webkit-transition: opacity 200ms ease, background-color 500ms ease, box-shadow 500ms ease, color 500ms ease, opacity 200ms ease;
  transition: opacity 200ms ease, background-color 500ms ease, box-shadow 500ms ease, color 500ms ease, opacity 200ms ease;
  font-style: italic;
}

.button:hover {
  background-image: -webkit-linear-gradient(270deg, #b69853, #b69853);
  background-image: linear-gradient(180deg, #b69853, #b69853);
  box-shadow: 0 0 32px 9px rgba(0, 0, 0, .43);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: #333;
  font-weight: 300;
}

.button.salesforce {
  margin-top: 40px;
  border-color: #fff;
  color: #fff;
}

.button.salesforce:hover {
  border-color: #009ddc;
  background-image: -webkit-linear-gradient(270deg, #009ddc, #009ddc);
  background-image: linear-gradient(180deg, #009ddc, #009ddc);
  color: #011871;
}

.link:hover {
  color: #333;
}

.cover-columns-inner {
  padding: 0px 14px 0px 0px;
}

.onepx {
  height: 1px;
}

.nav {
  position: fixed;
  overflow: visible;
  width: 100%;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #dce1e6;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.left-side-nav {
  padding-top: 26px;
  padding-left: 30px;
  float: left;
  clear: none;
  text-align: left;
}

.nav-links {
  padding-top: 1px;
  float: right;
}

.other-links {
  padding-top: 25px;
}

.tiles-wrapper {
  width: 66.666%;
  margin-left: 33.333%;
}

.tiles-wrapper.resume {
  background-image: -webkit-linear-gradient(270deg, #f6f6f6, #f6f6f6);
  background-image: linear-gradient(180deg, #f6f6f6, #f6f6f6);
}

.tile {
  height: auto;
  padding: 54px 10%;
}

.tile.raise {
  background-image: -webkit-linear-gradient(270deg, #3c454e, #3c454e);
  background-image: linear-gradient(180deg, #3c454e, #3c454e);
}

.tile.viagogo {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56ba5ebb2cc69d4e6918e82a/58bf8333c00cbdea76f9bfd8_tile_background_viagogo.png");
  background-position: 50% 100%;
  background-size: cover;
}

.tile.motorola {
  background-image: -webkit-linear-gradient(270deg, #0063be, #0063be);
  background-image: linear-gradient(180deg, #0063be, #0063be);
}

.tile.rocket {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56ba5ebb2cc69d4e6918e82a/58bf80e3f9c65cab76fb8a17_tile_background_rocket.png");
  background-position: 0px 0px;
  background-size: cover;
}

.tile.master {
  background-image: -webkit-linear-gradient(270deg, #2c2d2f, #2c2d2f);
  background-image: linear-gradient(180deg, #2c2d2f, #2c2d2f);
}

.tile.salesforce {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56ba5ebb2cc69d4e6918e82a/58bf7e83ba4f2e000ba7f928_tile_background_sales.png");
  background-position: 50% 100%;
  background-size: cover;
}

.tile-images {
  position: static;
  bottom: 0px;
  display: block;
  overflow: visible;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 54px;
  text-align: left;
}

.tile-images.motorola {
  padding-top: 30px;
}

.tile-images.rocket {
  padding-bottom: 30px;
}

.tile-titles {
  padding-bottom: 24px;
  float: none;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}

.tile-titles.raise {
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
}

.tile-titles.raise:hover {
  color: #4ed1aa;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

.tile-titles.viagogo {
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
}

.tile-titles.viagogo:hover {
  color: #333;
}

.tile-titles.moto:hover {
  color: #333;
}

.tile-titles.rocket:hover {
  color: #c25514;
}

.tile-titles.master:hover {
  color: #009ddc;
}

.tile-titles.sales:hover {
  color: #0076ff;
}

.tile-icon {
  position: relative;
  right: 0px;
  bottom: 0px;
  float: right;
}

.tile-text {
  position: static;
  left: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.tile-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
}

.tile-link:hover {
  display: block;
  color: #4ed1aa;
}

.case-study-side-bar {
  position: absolute;
  bottom: 6%;
  display: block;
  padding-right: 15%;
}

.side-bar-icon {
  position: relative;
  left: -19px;
  padding-left: 0px;
}

.appstore {
  padding-top: 40px;
}

.appstore.playstore {
  position: relative;
  left: -10px;
  padding-left: 0px;
}

.sidebar-link {
  color: #fff;
}

.sidebar-link:hover {
  color: #4ed1aa;
}

.sidebar-link.viagogo:hover {
  color: #333;
}

.sidebar-link.moto:hover {
  color: #0063be;
}

.sidebar-link.rocket:hover {
  color: #c25514;
}

.sidebar-link.master:hover {
  color: #1fb8e7;
}

.sidebar-link.salesforce:hover {
  color: #009ddc;
}

.case-study-content {
  padding: 20px 10%;
}

.case-study-slider {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56ba5ebb2cc69d4e6918e82a/58c09c4cfc5b3d9b4eda32ac_app%20map.png");
  background-position: 50% 50%;
  background-size: 655px;
  background-repeat: no-repeat;
}

.case-study-images {
  padding-right: 5%;
  padding-left: 5%;
}

.case-study-images.comp {
  border: 1px none #000;
}

.lightbox {
  -webkit-perspective: none;
  perspective: none;
}

.p-white {
  color: #fff;
}

.home-logo {
  padding-top: 15px;
  padding-bottom: 86px;
}

.resume-container {
  padding-top: 20vh;
  padding-right: 10%;
  padding-left: 10%;
}

html.w-mod-js *[data-ix="new-interaction"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media (max-width: 991px) {
  .lockup {
    padding-right: 0px;
  }
  .bottom-right-lockup-resume {
    margin-top: 30px;
    margin-left: 0px;
  }
  .rows {
    float: left;
  }
  .lock-up-home {
    max-width: 328px;
    padding-right: 0px;
  }
  .side-bar {
    position: static;
    width: auto;
    padding-top: 40vh;
    padding-right: 10%;
    padding-left: 10%;
  }
  .side-bar.raise {
    padding-top: 10%;
  }
  .side-bar.viagogo {
    padding-top: 10%;
  }
  .side-bar.moto {
    padding-top: 10%;
  }
  .side-bar.rocket {
    padding-top: 10%;
  }
  .side-bar.master {
    padding-top: 10%;
  }
  .side-bar.salesforce {
    padding-top: 10%;
  }
  .main-content-padding {
    padding: 30px;
  }
  .cover-columns-inner {
    padding-right: 0px;
  }
  .tiles-wrapper {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .lockup {
    padding-right: 0px;
  }
  .bottom-right-lockup-resume {
    position: static;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .bottom-right-lockup-resume.resume {
    margin-left: 20px;
  }
  .bottom-right-home {
    position: static;
    margin-top: 24px;
  }
  .lock-up-home {
    max-width: 389px;
  }
  .flex-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .side-bar {
    display: block;
    width: auto;
    max-width: none;
    padding-top: 40vh;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .side-bar.moto {
    padding-top: 10%;
  }
  .main-content {
    overflow: visible;
    padding: 0px;
  }
  .tile-icon {
    left: -20px;
    float: none;
    clear: both;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 32px;
  }
  .bottom-section {
    margin: 20px 20px 0px;
  }
  .lockup {
    width: 248px;
    padding-right: 0px;
  }
  .bottom-right-lockup-resume {
    margin-left: 20px;
  }
  .rows {
    clear: both;
  }
  .section-headers {
    color: #b69853;
  }
  .bottom-right-home {
    margin-bottom: 30px;
  }
  .spacer {
    height: 144px;
  }
  .main-content {
    padding: 0px;
  }
  .spaced-headers {
    display: inline-block;
  }
  .main-content-padding {
    padding: 20px;
  }
  .h1-spaced-headers {
    display: block;
    overflow: visible;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 26px;
    line-height: 40px;
  }
}
